/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  /**
   * 默认是绿色的，通过添加 background-color，color修改成白色背景，黑色字体
  */
  background-color: #ffffff; /* 蓝色 */
  color: #040404; /* 白色 */
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
